.characters {
    display: flex;
    height: 720px;


}



.character-find {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}




.characters-finder {
    margin: 0 auto;
    border: #203040 2px solid;
    border-radius: 12px;
    padding: 4px;
    color: #999999;
    font-size: 32px;
    width: 300px;

}



.characters_inner {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 30px;


}

.character_card {
    width: 100%;
    max-width: 330px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #999;
    border-radius: 12px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4)
}
.character_name {
    text-align: center;
    padding-top: 25px;

}

.character_image {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.character_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.character_card:hover {
    background: #4CAF50;
    color: #fff;
}

@media (max-width: 1000px) {
    .characters {
        height: 1350px;
    }

    .characters_inner {
        grid-template-columns: repeat(3, 2fr);
        gap: 15px;
    }
}

@media (max-width: 750px) {
    .characters_inner {
        height: 2000px;
        grid-template-columns: repeat(2, 2fr);
        gap: 10px;


    }
}
@media (max-width: 500px) {
    .characters_inner {
        grid-template-columns: repeat(2, 2fr);
        gap: 5px;

    }
}