.header {
    width: 100%;
    background-color: #203040;
    position: sticky;

    display: block;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    min-height: 140px;
}

.header_logo {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}

.header_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 0;

}

.finder-inner {
    display: flex;
}

/*Navigation*/

.nav {
    display: flex;
    width: 100%;
    order: 2;
    font-size: 24px;

}
.nav-btn {
    display: none;
}
.nav-btn::before {
    content: "☰";
}
.nav-btn.active::before {
    content: "✕";
}



.nav_link {
    display: block;
    vertical-align: top;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    position: relative;

    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 5px;

    opacity: 0;

    background-color: #4CAF50;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity  .2s linear;

}

.nav_link:hover {
    color: #4CAF50;

}

.nav_link:hover:after, .nav_link.active:after {
    opacity: 1;
}

.nav_link.active {
    color: #4CAF50;

}

.pagination_center {
    padding: 30px 0;
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination button {
    text-decoration: none;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 2px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #4CAF50;
    color: #fff;
}

.pagination button:disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.7;
}

.pagination_jump {
    margin-top: 5px;
}

.pagination_jump input {
    text-decoration: none;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 2px;
    font-size: 24px;
    color: #999;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Скрывает стрелки */
    margin: 0; /* Убирает отступ, который может появиться */
}

.pagination a {
    text-decoration: none;
    color: #333;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 2px;

}
.pagination button.active {
    background-color: #4CAF50;
    color: #fff;
}

.pagination button:hover {
    background-color: #4CAF50;
    color: #fff;

}



@media (max-width: 1000px) {
    .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
    }

    .nav-btn {
        font-size: 42px;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgba(32, 48, 64, 0.73);
        color: white;
        display: inline-block;
        cursor: pointer;
        z-index: 1200;
        outline: none;

    }
    .nav-btn.active {
        z-index: 1200;
        position: relative;
        border: none;
        outline: none;
    }




    .nav {
        position: fixed;
        inset: 0;
        background-color: rgba(32, 48, 64, 0.97);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 32px;

        opacity: 0;
        visibility: hidden;
        transition: 0.3s;

        z-index: 1000;
    }


    .nav_link {
        margin: 22px 0;
    }


    .drop.active .nav {
        opacity: 1;
        visibility: visible;
    }


    .characters_inner {
        grid-template-columns: repeat(3, 2fr);


    }
}
@media (max-width: 750px) {
    .container {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
    }
    .characters_inner {
        grid-template-columns: repeat(2, 2fr);
    }

    .header_logo {
        font-size: 36px;
        font-weight: 700;
    }
}


@media (max-width: 500px) {
    .container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .characters_inner {
        grid-template-columns: repeat(2, 2fr);
        gap: 5px;
    }
    .header_logo {
        font-size: 30px;
        font-weight: 700;
    }
}
