*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
html {
    scrollbar-gutter: stable;
}

header {
}

body {
    font-family: 'Roboto';

    font-size: 24px;
    line-height: 1;
    color: #333;

    background: #f5f6f7 center;
    background-size: cover;
    width: 100%;


}
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.container>h1 {
    margin-top: 40px;
    font-size: 48px;
    margin-bottom: 40px;
}

.character-find>h1 .locations-find>h1 {
    font-size: 48px;

}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: 30px auto;
    border: 6px solid rgba(0, 0, 0, 0.2);
    border-top-color: #00cc66;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.hide {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

