.locations {
    height: 720px;
    display: flex;


}
.locations-finder {
    margin: 0 auto;
    border: #203040 2px solid;
    border-radius: 12px;
    padding: 4px;
    color: #999999;
    font-size: 32px;
    width: 300px;

}
.locations-find {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
}

.locations_inner {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 30px;


}



.location_card {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 330px;
    border: 1px solid #999;
    border-radius: 12px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4)
}
.location_name {
    text-align: center;
    padding-top: 25px;

}

.location_type {
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-style: italic;
}

.location_image {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.location_image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.location_card:hover {
    background: #4CAF50;
    color: #fff;
}

@media (max-width: 1000px) {
    .locations {
        height: 1350px;
    }

    .locations_inner {
        grid-template-columns: repeat(3, 2fr);
    }
}

@media (max-width: 750px) {
    .locations_inner {
        grid-template-columns: repeat(2, 2fr);
    }
}