
.season_number h2 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.slider-inner {
    display: flex;
    gap: 15px;

    transition: transform 0.6s cubic-bezier(.4,0,.2,1);

}

.season-number-title {
    font-weight: bold;
    background: none;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 36px;
    border: none;
    cursor: pointer;
    padding:0;
}

.season_smallcard {
    padding: 15px;
    border: 1px solid #999;
    border-radius: 12px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4)
}

.smallcard_title {
    font-size: 16px;
    padding-top: 5px;
}

.smallcard_text {
    padding-top: 5px;
    font-size: 13px;
    color: #999;
}
.season-slider {
    position: relative; /* для абсолютного позиціонування кнопок */
}

.season-swiper-outer {
    overflow: hidden; /* ховаємо частину слайдів */
}

.season-swiper {
    overflow: visible; /* дозволяємо кнопкам виходити */
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    color: #007aff;
    top: 40%;
    z-index: 10;
    text-align: center;

    width: 40px;
    height: 40px;
    cursor: pointer;
}

.swiper-button-prev {
    left: -50px;
    transform: rotateY(180deg);

}

.swiper-button-next {
    right: -50px;
}


.season_smallcard {
    background: #fff;
    border: 1px solid #999;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
}


.footer{
    position: relative;
    margin: 80px;
}

@media (max-width: 1000px) {



}

@media (max-width: 600px) {

}